- content_for :title do
  CourseUp
  \|
  Activities

%h2.text-center
  Activities
  .badge.badge-info
    = @activities.count

- @activities.each do |activity|
  %ul.list-group.col-md-8.container-fluid
    %li.list-group-item.m-2
      = activity.id
      = activity.trackable_type
      = activity.trackable_id
      = link_to activity.trackable, activity.trackable
      = activity.key
      = activity.parameters
      = activity.owner
