.jumbotron
  .display-4.mb-4
    What do you want to learn today?

  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_or_short_description_cont, class: 'form-contorl-sm', placeholder: 'Find a course', autocomplete: :off
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing comunity
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%h2
  Popular courses
.container-fluid.content-row
  .row
    - @courses_pop.each do |course|
      .col-sm-12.col-lg-4.my-4
        = render 'courses/course', course: course
%hr
%h2
  Top rated courses
.container-fluid.content-row
  .row
    - @courses_top.each do |course|
      .col-sm-12.col-lg-4.my-4
        = render 'courses/course', course: course
%hr
%h2
  Most recent coures
.container-fluid.content-row
  .row
    - @courses_latest.each do |course|
      .col-sm-12.col-lg-4.my-4
        = render 'courses/course', course: course
%hr
