-content_for :title do
  CourseUp
  \|
  Enrollments

%h3
  .text-center
    Enrollments
    .badge.badge-info
      = @enrollments.count
= search_form_for @q do |f|
  .container.mb-2
    .row
      = f.search_field :user_email_cont, placeholder: 'email', class: 'mr-1 p-1 mb-1'
      = f.search_field :course_title_cont, placeholder: 'course', class: 'mr-1 p-1 mb-1'
      = f.search_field :price_eq, placeholder: 'price', class: 'mr-1 p-1 mb-1'
      = f.search_field :review_cont, placeholder: 'review', class: 'mr-1 p-1 mb-1'
      = f.search_field :rating_eq, placeholder: 'raiting', class: 'mr-1 p-1 mb-1'
    .row
      = f.submit class: 'btn btn-sm btn-outline-primary mr-1'
      = link_to enrollments_path, class: 'btn btn-sm btn-outline-secondary mr-1' do
        .fa.fa-sync-alt
        refresh

.container-fluid
  .row.d-flex.justify-content-center
    != pagy_bootstrap_nav(@pagy)

.table-responsive
  %table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th= sort_link(@q, :id)
        %th= sort_link(@q, :created_at, 'Date')
        %th
          .fa.fa-graduation-cap
          Course
        %th
          = sort_link(@q, :user_email) do
            .fa.fa-user
            User
        %th
          = sort_link(@q, :price) do
            .fa.fa-dollar-sign
            price
        %th
          = sort_link(@q, :updated_at) do
            Review on
        %th
          = sort_link(@q, :rating) do
            Rating
        %th
          = sort_link(@q, :review) do
            Review
        %th
        %th
        %th
    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= enrollment.created_at.strftime('%d.%m.%y %H:%M')
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= number_to_currency enrollment.price
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime('%d.%m.%y %H:%M')
          %td= enrollment.rating
          %td= enrollment.review
          %td= link_to 'See review', enrollment
          %td= link_to 'Add review', edit_enrollment_path(enrollment)
          %td= link_to 'Remove enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

%br
.container-fluid
  .row.d-flex.justify-content-center
    != pagy_bootstrap_nav(@pagy)
