-content_for :title do
  CourseUp
  \|
  Enrollments

%h3
  .text-center
    Enrollments
    .badge.badge-info
      = @enrollments.count

.table-responsive
  %table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th Date
        %th
          .fa.fa-graduation-cap
          Course
        %th
          .fa.fa-user
          User
        %th
          .fa.fa-dollar-sign
          price
        %th Review on
        %th Rating
        %th Review
        %th Price
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= enrollment.created_at.strftime('%d.%m.%y %H:%M')
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.price
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime('%d.%m.%y %H:%M')
          %td= enrollment.rating
          %td= enrollment.review
          %td= number_to_currency enrollment.price
          %td= link_to 'See review', enrollment
          %td= link_to 'Add review', edit_enrollment_path(enrollment)
          %td= link_to 'Remove enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Enrollment', new_enrollment_path
