- content_for :title do
  CourseUp
  \|
  New enrollment

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      = link_to @course.title, course_path(@course)
      %hr
      Buy course
  .card-body
    = form_tag course_enrollments_path(@course) do
      = submit_tag "Pay #{@course.price}", class: 'btn btn-lg btn-outline-success'
  .card-footer
    = link_to 'Back', enrollments_path
