%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Courses', courses_path
  %li.breadcrumb-item
    = link_to @lesson.course.title, course_path(@lesson.course)
  %li.breadcrumb-item
    = link_to @lesson.title, course_lesson_path(@course, @lesson)
  %li.breadcrumb-item
    Editing

.card
  .card-header
    %h1 Editing lesson
  .card-body
    = render 'form'
