%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Courses', courses_path
  %li.breadcrumb-item
    = @course.title

.row
  .col-lg-6
    .card
      = render 'course', course: @course
  .col-lg-6
    = link_to 'Add lesson', new_lesson_path(course_id: @course.id)
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
